# JavaScript node dependencies
node_modules
/.vscode/

logs
reports

# Playwright
test-results/
playwright-report/

# Yarn berry
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
lighthouse/
